<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" layout:decorator="layout">

    <th:block layout:fragment="content">
    <!--/* 검색 영역 */-->
    <div class="input-group" id="adv-search">
        <form id="searchForm" onsubmit="return false;">
            <select id="searchType" class="form-control" style="width: 100px;">
                <option value="">전체</option>
                <option value="title">제목</option>
                <option value="content">내용</option>
                <option value="writer">작성자</option>
            </select>
            <input type="text" id="keyword" class="form-control" placeholder="키워드를 입력해 주세요." style="width: 300px;" />
        </form>
        <button type="button" onclick="findAll(1);" class="btn btn-primary">
            <span aria-hidden="true" class="glyphicon glyphicon-search"></span>
        </button>
    </div>

    <!--/* 게시글 영역 */-->
    <div class="table-responsive clearfix">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>번호</th>
                    <th>제목</th>
                    <th>작성자</th>
                    <th>등록일</th>
                    <th>조회 수</th>
                </tr>
            </thead>

            <!--/* 게시글 리스트 Rendering 영역 */-->
            <tbody id="list">

            </tbody>
        </table>
        <div class="btn_wrap text-right">
            <a th:href="@{/board/write}" class="btn btn-primary waves-effect waves-light">Write</a>
        </div>

        <!-- 페이지네이션 Rendering 영역 -->
        <nav aria-label="Page navigation" class="text-center">
            <ul class="pagination">

            </ul>
        </nav>
    </div>
    </th:block>


    <th:block layout:fragment="script">
    <script th:inline="javascript">
    /*<![CDATA[*/

    	/**
    	 * 페이지 로딩 시점에 실행되는 함수
    	 */
    	window.onload = () => {

    		setQueryStringParams();

    		findAll();

    		addEnterSearchEvent();
    	}

    	/**
    	 * 키워드 - 엔터 검색 이벤트 바인딩
    	 */
    	function addEnterSearchEvent() {

    		document.getElementById('keyword').addEventListener('keyup', (e) => {
    			if (e.keyCode === 13) {
    				findAll(1);
    			}
    		});
    	}

    	/**
    	 * 조회 API 호출
    	 */
    	async function getJson(uri, params) {

    		if (params) {
    			uri = uri + '?' + new URLSearchParams(params).toString();
    		}

    		const response = await fetch(uri);

    		if (!response.ok) {
    			await response.json().then(error => {
    				throw error;
    			});
    		}

    		return await response.json();
    	}

    	/**
    	 * 쿼리 스트링 파라미터 셋팅
    	 */
    	function setQueryStringParams() {

    	    if ( !location.search ) {
    	 		return false;
    	 	}

    	 	const form = document.getElementById('searchForm');

    	 	new URLSearchParams(location.search).forEach((value, key) => {
    	 	    if (form[key]) {
    	 		    form[key].value = value;
    	 	    }
    	    });
        }

    	/**
    	 * 게시글 리스트 조회
    	 */
    	function findAll(page) {

    		const pageParam = Number(new URLSearchParams(location.search).get('page'));
    	    page = (page) ? page : ((pageParam) ? pageParam : 1);

    		const form = document.getElementById('searchForm');
    		const params = {
    			  page: page
    			, recordPerPage: 5
    			, pageSize: 10
    			, searchType: form.searchType.value
    			, keyword: form.keyword.value
    		}

    		const queryString = new URLSearchParams(params).toString();
    	    const replaceUri = location.pathname + '?' + queryString;
    	    history.replaceState({}, '', replaceUri);

    		getJson('/api/boards', params).then(response => {
    			if (!Object.keys(response).length) {
    				document.getElementById('list').innerHTML = '<td colspan="5">등록된 게시글이 없습니다.</td>';
    				drawPages();
    				return false;
    			}

    			let html = '';
    			let num = response.params.pagination.totalRecordCount - ((response.params.page - 1) * response.params.recordPerPage);

    			response.list.forEach((obj, idx) => {
    	   			const viewUri = `/board/view/${obj.id}` + '?' + queryString;
    	   			html += `
    	   				<tr>
    							<td>${num--}</td>
    							<td class="text-left"><a href="${viewUri}">${obj.title}</a></td>
    							<td>${obj.writer}</td>
    							<td>${moment(obj.createdDate).format('YYYY-MM-DD HH:mm:ss')}</td>
    							<td>${obj.hits}</td>
    	   				</tr>
    	   			`;
    	   		});

    			document.getElementById('list').innerHTML = html;
    			drawPages(response.params);
    		});
    	}

    	/**
    	 * 게시글 조회
    	 */
    	function goView(id) {
    		location.href = `/board/view/${id}`;
    	}

    	/**
    	 * 페이지 HTML 렌더링
    	 */
    	 function drawPages(params) {

     		if (!params) {
     			document.querySelector('.pagination').innerHTML = '';
     			return false;
     		}

     		let html = '';
     		const pagination = params.pagination;

     		// 첫 페이지, 이전 페이지
     		if (pagination.existPrevPage) {
     			html += `
     				<li><a href="javascript:void(0)" onclick="findAll(1);" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
     				<li><a href="javascript:void(0)" onclick="findAll(${pagination.startPage - 1});" aria-label="Previous"><span aria-hidden="true">&lsaquo;</span></a></li>
     			`;
     		}

     		// 페이지 번호
     		for (let i = pagination.startPage; i <= pagination.endPage; i++) {
     			const active = (i === params.page) ? 'class="active"' : '';
                html += `<li ${active}><a href="javascript:void(0)" onclick="findAll(${i})">${i}</a></li>`;
     		}

     		// 다음 페이지, 마지막 페이지
     		if (pagination.existNextPage) {
     			html += `
     				<li><a href="javascript:void(0)" onclick="findAll(${pagination.endPage + 1});" aria-label="Next"><span aria-hidden="true">&rsaquo;</span></a></li>
     				<li><a href="javascript:void(0)" onclick="findAll(${pagination.totalPageCount});" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
     			`;
     		}

     		document.querySelector('.pagination').innerHTML = html;
     	}

    /*]]>*/
    </script>
    </th:block>

</html>